body {
    background: url(../images/background3.jpg);
    background-size: cover;
    font-family: Roboto Mono;
    font-size: 14px;
}

p {
    font-family: Roboto Mono;
    font-size: 14px;
}

h1 {
    font-family: Roboto Mono;
    font-size: 14px;
    letter-spacing: 3px; 
    color: black;   
}

img {
  max-height: 200px;
  width: auto;
}

button, form {
	margin: 5px;
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-top: 2px;
	padding-bottom: 2px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    background-color: white;
    border: white;
    color: black;
    padding: 2px;
}

.item {
	padding: 10px;
	display: inline-block;
}